// 全局配置颜色表
$baseBlue: #3d7eff; // 广汽商贸集团的蓝色
$basePlaceholder: #c0c4cc; // input placeholder颜色

$themeColor: #21262b; // 主题色 el-menu 
$textColor: #2c314e; // 字体色  el-menu 



.blue {
  color: $baseBlue
}
